doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
    // Third party plugin CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')
    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css', rel='stylesheet')
    link(href='images/inint.jpg' rel='shortcut icon')
    link(href='css/quiz.css', rel='stylesheet')
    
    script(language='JavaScript').
      <!--hide
      var password;
      var pass1="goats";
      password=prompt('Please enter your password to view this page!',' ');
      if (password==pass1)
      alert('Password Correct! Click OK to enter!');
      else
      {
      window.location="/wrong";
      }
      //--> 
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Indonesian Intelligence
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.my-2.my-lg-0
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#panja') Independence Day
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#tribe') Indonesian Tribes
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#tour') Visit Indonesia
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#name') Indonesian Names
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#weather') Weather
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') About
            
            
    // Masthead
    header.masthead
      .container.h-100
        .row.h-100.align-items-center.justify-content-center.text-center
          .col-lg-10.align-self-end
            h1.text-uppercase.text-white.font-weight-bold We are here to help you learn more about Indonesia!
            hr.divider.my-4
          .col-lg-8.align-self-baseline
            p.text-white-75.font-weight-light.mb-5
              | There are many Australians that are born from Indonesian parents. 
              |But learning about Indonesia in Australia might have it's limitation.
              |This website is here to help you learn about Indonesia in a fun and interactive way.
            p.text-white-75.font-weight-light.mb-5
              | Jump on our fun activities and learn!
            a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#panja') Find Out More
    
    // Independent Day
    section#panja.page-section.bg-primary
      .container
          .row.justify-content-center
            .col-lg-8.text-center
              h2.text-white.mt-0 Independence Day
              hr.divider.light.my-4
              p.text-white-75.mb-4(style='font-size:21px;') 
                |   Indonesia got its Independence on the 17th of August, 1945 after being colonized for over 350 years 
              p.text-white-75.mb-4(style='font-size:21px;') 
                |   To celebrate this day, each year Indonesians would gather around their local neighbourhoods and play "Panjat Pinang". 
              p.text-white-75.mb-4(style='font-size:21px;') 
                |   Curious about what it is? 
              p.text-white-75.mb-4(style='font-size:21px;') 
                |   Jump into our game and try it out!
              a.btn.btn-light.btn-xl.js-scroll-trigger(href='/panjatpinang') Let's Get Started!

    // Tribe Feature
    section#tribe.page-section
      .container
        .row.h-100.align-items-center.justify-content-center.text-center
          .col-lg-10.align-self-end
            h2.text-center.mt-0 Indonesian Tribes
                    hr.divider.my-4
          .col-lg-8.align-self-baseline
            p.text-muted-75.font-weight-light.mb-5(style='font-size:22px;') 
              | There are many different tribes in Indonesia.
              | Jump on to learn about them and play a modified flappy bird game
              | with various Indonesian tribal themes.
            a.btn.btn-primary.btn-xl.js-scroll-trigger(href='/tribes') Jump On It!


    //
    section#tour.page-section.bg-primary
      .container
          .row.justify-content-center
            .col-lg-8.text-center
              h2.text-white.mt-0 Visit Indonesia
              hr.divider.light.my-4
              p.text-white-75.mb-4(style='font-size:21px;') 
                |   Indonesia is filled with beautiful nature, iconic landmarks and unique animals.  
              p.text-white-75.mb-4(style='font-size:21px;') 
                |   Check out some of our recommended places of interest!
              a.btn.btn-light.btn-xl.js-scroll-trigger(href='/travel') Let's Get Started!


    // Names Feature
    section#name.page-section
      .container
        .row.h-100.align-items-center.justify-content-center.text-center
          .col-lg-10.align-self-end
            h2.text-center.mt-0 Guess the gender!
                    hr.divider.my-4
          .col-lg-8.align-self-baseline
            p.text-muted-75.font-weight-light.mb-5(style='font-size:22px;') 
              | You might find these names unique.
              | Do you think this person is a boy or a girl?
            
        // The name quiz
        script(type='text/javascript').
          (function(d,s,id,u){
          if (d.getElementById(id)) return;
          var js, sjs = d.getElementsByTagName(s)[0],
          t = Math.floor(new Date().getTime() / 1000000);
          js=d.createElement(s); js.id=id; js.async=1; js.src=u+'?'+t;
          sjs.parentNode.insertBefore(js, sjs);
          }(document, 'script', 'os-widget-jssdk', 'https://www.opinionstage.com/assets/loader.js'));
        #os-widget-755492.os_widget(data-of='shreyas101' data-path='/shreyas101/give-us-a-try-click-the-start-button')


        
    // Weather Feature
    
    section#weather.page-section.bg-dark.text-white
      .container.text-center
        h2.mb-4 A Tropical Country

        p.text-light.mb-5(style='font-size:22px;') 
          | Indonesia doesn't have winter, spring, summer or autumn.
          | It's a tropical country so it only has either rainy season or dry season. 
          | Switch to one of slides to see the most common weather for specific month.
          | This is based on Denpasar, one of the most visited cities in Indonesia.
        
        
        // Carousel of weather
        #carouselIndicators.carousel.slide(data-ride='carousel')
          .container
            // Button to each month
            .btn-group(style='margin:0.3rem;font-size: 1.3rem;')
              button.button(data-target='#carouselIndicators' , data-slide-to='0') January
              button.button(data-target='#carouselIndicators' , data-slide-to='1') Febuary
              button.button(data-target='#carouselIndicators' , data-slide-to='2') March
              button.button(data-target='#carouselIndicators' , data-slide-to='3') April
              button.button(data-target='#carouselIndicators' , data-slide-to='4') May
              button.button(data-target='#carouselIndicators' , data-slide-to='5') June
              button.button(data-target='#carouselIndicators' , data-slide-to='6') July
              button.button(data-target='#carouselIndicators' , data-slide-to='7') August
              button.button(data-target='#carouselIndicators' , data-slide-to='8') September
              button.button(data-target='#carouselIndicators' , data-slide-to='9') October
              button.button(data-target='#carouselIndicators' , data-slide-to='10') November
              button.button(data-target='#carouselIndicators' , data-slide-to='11') December
          ol.carousel-indicators
            // Indicator for each month
            li.active(data-target='#carouselIndicators', data-slide-to='0')
            li(data-target='#carouselIndicators', data-slide-to='1')
            li(data-target='#carouselIndicators', data-slide-to='2')
            li(data-target='#carouselIndicators', data-slide-to='3')
            li(data-target='#carouselIndicators', data-slide-to='4')
            li(data-target='#carouselIndicators', data-slide-to='5')
            li(data-target='#carouselIndicators', data-slide-to='6')
            li(data-target='#carouselIndicators', data-slide-to='7')
            li(data-target='#carouselIndicators', data-slide-to='8')
            li(data-target='#carouselIndicators', data-slide-to='9')
            li(data-target='#carouselIndicators', data-slide-to='10')
            li(data-target='#carouselIndicators', data-slide-to='11')
          .carousel-inner
            // The pictures
            .carousel-item.active
              img.d-block.w-100(src='/images/1.png', alt='January')
            .carousel-item
              img.d-block.w-100(src='/images/2.png' alt='February')
            .carousel-item
              img.d-block.w-100(src='/images/3.png' alt='March')
            .carousel-item
              img.d-block.w-100(src='/images/4.png' alt='April')
            .carousel-item
              img.d-block.w-100(src='/images/5.png' alt='May')
            .carousel-item
              img.d-block.w-100(src='/images/6.png' alt='June')
            .carousel-item
              img.d-block.w-100(src='/images/7.png' alt='July')
            .carousel-item
              img.d-block.w-100(src='/images/8.png' alt='August')
            .carousel-item
              img.d-block.w-100(src='/images/9.png' alt='September')
            .carousel-item
              img.d-block.w-100(src='/images/10.png' alt='October')
            .carousel-item
              img.d-block.w-100(src='/images/11.png' alt='November')
            .carousel-item
              img.d-block.w-100(src='/images/12.png' alt='December')
          // Add arrow key to navigate
          a.carousel-control-prev(href='#carouselIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
      // Link to another site
      .container.text-center
        p.text-light.mb-5
          |
        p.text-light.mb-5
          |
        p.text-light.mb-5(style='font-size:22px;') 
          | We have more detailed information and a quiz for you!!
        a.btn.btn-light.btn-xl(href='/weather') Click Here!

      
    
    
    // About section
    section#about.page-section.bg-primary
      .container
        .row.justify-content-center
          .col-lg-8.text-center
            h2.text-white.mt-0 About Us!
            hr.divider.light.my-4
            p.text-white-75.mb-4(style='font-size:22px;')  
              |   Indonesian Intelligence is a website that helps people get to know the culture of Indonesia.
            p.text-white-75.mb-4(style='font-size:22px;')
              |   We consider each person to be unique and cater to their specific needs by providing personalized solutions.
            p.text-white-75.mb-4(style='font-size:22px;')
              |   The website aims to inspire and support first generation born Indonesian Australians through their journey of knowing their parent's culture.



   
    // Footer
    footer.bg-light.py-5
      .container
        .small.text-center.text-muted Copyright © 2020 - Monash Goat
    // Bootstrap core JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
    // Core theme JS
    script(src='js/scripts.js')
    